.title{
    width: 100%;
    /* text-align: center; */
}

.navbar-nav{
    width: 100%;
    color: blueviolet;
}

.floating{
    /* position: relative; */
    /* right: 10px; */
    /* background-color: yellow; */
    /* float: right; */
    height: 40px;
}

.nav-link{
    text-align: center;
}

.active_nav{
    border-bottom: 2px solid white;
    color: white;
    /* background-color: yellow; */
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
.register_form_container{
    box-shadow: 0 0 6px black;
    border-radius: 10px;
    padding: 1%;
    width: 60%;
}

.overflow-wrap{
    height: 300px;
    overflow: hidden;
}


}


label{
    float: right;
}

@media only screen and (max-width: 1023px) {
    label{
        font-size: .8em;
    }
}

.label{
    width: 30%;
}

.lorem{
    width: 30%;
}

.footHr{
    border: 1px solid rgb(29, 197, 57);
}

/* _________________Sa slides___________________ */

  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev, .carousel-control-next{
    margin: 0% -4%;
}

.carousel-indicators{
    margin-bottom: 0%;
}


.txt_input{
    width: 100%;
}

/* .radioWidth{
    width: 10%;
} */