.title{
    width: 100%;
    /* text-align: center; */
}

.navbar-nav{
    width: 100%;
    color: blueviolet;
}

.nav-link{
    text-align: center;
}

.active_nav{
    border-bottom: 2px solid white;
    color: white;
    /* background-color: yellow; */
}

/* label{
    float: right;
} */


.label{
    width: 30%;
}

.label label{
    float: right;
}

.lorem{
    width: 30%;
}

.footHr{
    border: 1px solid rgb(29, 197, 57);
}

/* _________________Sa slides___________________ */

  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev, .carousel-control-next{
    margin: 0% -4%;
}

.carousel-indicators{
    margin-bottom: 0%;
}

/* ######### End sa slide ############ */

.txt_input{
    width: 100%;
}





@media only screen and (min-width: 1024px) and (max-width: 2560px) {
    .register_form_container{
        box-shadow: 0 0 6px black;
        border-radius: 10px;
        padding: 1%;
        width: 60%;
    }
    
    .overflow-wrap{
        height: 300px;
        overflow: hidden;
    }
    
    .floating{
        height: 40px;
    }
    
    .left_content{
        float: left;
        width: 30%;
    }
    

    
    }

@media only screen and (max-width: 1023px) {
    label{
        font-size: .8em;
    }

    /* .floating{
        text-align: center;
    } */


}


.dropdown-menu{
    position: absolute;
    z-index: 1;
}

.collapse{
    float: right;
}



.dp_cover{
    border-radius: 50%;
    /* background-color: blueviolet; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid rgb(42, 196, 67);
    
    /* object-fit: contain; */
}

.dp{
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.upload{
    display: none;
    background-color: rgba(0, 0, 0, 0.671);
    text-align: center;
    position: relative;
    padding: 1% 3.3%;
    bottom: 30%;
    text-overflow: hidden;
}

.dp_cover:hover .upload{
    display: block;
}

.dp_cover:hover .dp{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

#uploadPhotoBtn{
    display: none;
}

#cancel_btn{
    display: none;
}

.basic_info{
    border: 1px solid rgba(151, 151, 151, 0.842);
    width: 80%;
    color: rgb(100, 100, 100);
}

.userHover:hover{
    text-decoration: underline;
}

.car_div_img{
    width: 80%;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(42, 196, 67);
}

.card_img{
    /* width: 50%; */
    object-fit: cover;
    width: 210px;
    height: 210px;
}

.card_hover:hover{
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

#input_scroll{
    /* width: 100%; */
    position: relative;
    z-index: 1;
}

#myModal{
    display: block;
}

#admin_input_scroll{
    position: fixed;
    z-index: 1;
}

#posting{
    resize: none;
    width: 100%;
    background-color: #28a7462f;
}

#posting::-webkit-scrollbar {
    display: none;
  }

.floating_left{
    float: left;
}

.floating_right{
    float: right;
}

.file_upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.label_upload{
    background-color: rgb(27, 116, 27);
    color: aliceblue;
    border-radius: 6px;
    padding: 5px;
}

.label_upload:hover{
    background-color: rgb(32, 151, 32);
    box-shadow: -3px 3px 7px black;
    /* color: rgb(38, 45, 51); */
    cursor: pointer;
}

.content{
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.363);
}

.date_time{
    /* background-color: greenyellow; */
    margin-bottom: -20px;
    /* width: 30%; */
}

.add_img{
    width: 100%;
    height: 50px;
}

.post_img{
    width: 100%;
    /* overflow: hidden; */
}

.post_div{
    
}